html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 400;
    background-color: #eee;
}

.app-box {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}